*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(165, 214, 231), rgb(222, 248, 248));
    color: white;
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;

}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
}

form button {
    color: rgb(159, 212, 230);
    background: white;
    cursor: pointer;
    transition: 0.5s;
}

form button:hover {
    background: rgb(159, 212, 230);
    color: white;
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.shop-list {
    min-width: 50%;
    list-style: none;
} 

.shop {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.shop li{
    flex: 1;
}

.trash-btn, .complete-btn {
    background: rgb(131, 172, 186);
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    opacity: 0.6;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

.trash-btn, .complete-btn:hover {opacity: 1}

.shop-item {
    padding: 0rem 0.5rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(131, 172, 186);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: rgb(159, 212, 230);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background: white;
    color: rgb(159, 212, 230);


}




/* KALKULAATOR */

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: minmax(90px, auto) repeat(6, 70px);
    padding-top: 30rem;
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
    outline: none;
    background-color: aliceblue;
    transition-duration: 0.5s;
    border-radius: 8px;
  }
  
  .calculator-grid > button:hover {
    background-color: rgb(204, 230, 253);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: aliceblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 8px;
  }
  
  .output .previous-operand {
    color: rgba(194, 194, 194, 0.75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: rgb(180, 180, 180);
    font-size: 2.5rem;
  }

  hr { 
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(145, 210, 253);
    margin: 1em 0; padding: 0; 
}




/* Generaator */

.container {
    padding-top: 15rem;
}


#btn{
    cursor: pointer;
    font-size: 15px;
    padding: 12px;
    border: 1px solid white;
    outline: none;
    background-color: rgb(222, 248, 248);
    transition-duration: 1s;
    border-radius: 8px;    
}

#btn:hover {
    background-color: rgb(165, 214, 231);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-top: 5rem;
  }

#container {

    margin: auto;
    text-align: center;
}

#qoutput {
    margin: 25px auto;
    font-size: 26px;
    color: rgb(14, 43, 122);
    font-family: monospace;
    padding-bottom: 10rem;
}


/* Värvi muutmine */
.disain {
    padding: 4px;
    margin: 20px;
    margin-left: 36px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    background-color: aliceblue;
    transition-duration: 1s;
    border-radius: 8px;    
    width:100px;
    height:auto;
    display:inline-block;
}

.disain:hover{
    background-color: rgb(204, 230, 253);
}

/* muusika */


.music {
    padding: 4px;
    margin: 20px;
    margin-left: 36px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgb(218, 238, 255);
    transition-duration: 1s;
    border-radius: 8px;    
    width:150px;
    height:auto;
    display:inline-block;
}

.music:hover{
    background-color: rgb(204, 230, 253);
}